body {
    display: flex;
}

section {
    height: 17dvh;
    width: 40dvh;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;

}

.green{
    background-color: rgba(62, 250, 56, 0.591);
}
